@page
@model aspEmpty.views.Home.IndexModel
@{
    //wwwroot un içine oluşturduğumuz style.css dosyasının linkini views dosyasının içine veriyoruz
}
<link rel="stylesheet" href="/style.css" />
<h1>Hello,World</h1>
